<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Testing Vite React</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Press+Start+2P&display=swap"
      rel="stylesheet"
    />
    <!-- Preamble de Vite DEV SERVER (OBLIGATORIO) -->

    <!-- Preamble de React Refresh -->
    {% if "localhost" in request.get_host or "192.168" or "127.0.0.1" in request.get_host %}

    <script type="module">
      import RefreshRuntime from "http://localhost:5173/@react-refresh";  //PC
      //import RefreshRuntime from "http://192.168.1.227:5173/@react-refresh"; //Movile test usar ip de wifi
      RefreshRuntime.injectIntoGlobalHook(window);
      window.$RefreshReg$ = () => {};
      window.$RefreshSig$ = () => (type) => type;
      window._vite_plugin_react_preamble_installed_ = true;
    </script>
    {% comment %} <script type="module" src="http://192.168.1.227:5173/@vite/client"></script> {% endcomment %}
    {% comment %} <script type="module" src="http://192.168.1.227:5173/src/main.tsx"></script> {% endcomment %}
    <script type="module" src="http://localhost:5173/@vite/client"></script>
    <script type="module" src="http://localhost:5173/src/main.tsx"></script>
    {% else %}
    <link
      rel="stylesheet"
      type="text/css"
      media="screen"
      href="/static/assets/index-lgWRb_4G.css"
    />
    <script type="module" src="/static/assets/index-D7WZH9mf.js"></script>
    {% endif %}
  </head>
  <body>
    <div id="root"></div>

    <!-- Archivo principal del proyecto React -->
  </body>
</html>
