@import "tailwindcss";
@import "tailwindcss-animated";

@theme {
  --color-custom-orange: #ff4949;
  --color-custom-purple: #3b0270;
  --color-custom-violet: #e9b3fb;
  --color-custom-violetdark: #6f00ff;
  --color-custom-gray: #fff1f1;
}


body {
  color: white;
}

.bg-auth {
  background-image: url("/font_login.jpg");
}
